{include file="comm/header" /}
<body class="user-select">
{include file="comm/header-top" /}
<section class="container">
  <div class="content-wrap">
    <div class="content">
      <div class="title">
        <h3>后端程序</h3>
      </div>
        {foreach $art_list as $art}
        {include file="comm/article-timeline" /}
        {/foreach}
      <nav class="pagination" style="display: none;">
        <ul>
          <li class="prev-page"></li>
          <li class="active"><span>1</span></li>
          <li><a href="?page=2">2</a></li>
          <li class="next-page"><a href="?page=2">下一页</a></li>
          <li><span>共 2 页</span></li>
        </ul>
      </nav>
    </div>
  </div>
    {include file="comm/aside" /}
</section>
{include file="comm/footer" /}
{include file="comm/other" /}
{include file="comm/footer-js" /}
</body>
</html>