<footer class="post-footer">
    <div class="post-tags">
        <a href="{$Think.config.api}index/article/listPage/cate_id/{$art_info.cate_id}">{$art_info['cate_name']}</a>
    </div>
    {if $recommend_list}
    <nav class="post-nav">
        <p style="-webkit-margin-before:0;-webkit-margin-after:0;padding-bottom: .5em;color:#4D89FB;">相关推荐:</p>
        {foreach $recommend_list as $key=>$recommend}
        <a class="next" href="{$Think.config.api}index/article/detail/art_id/{$recommend.art_id}">
            <span class="next-text nav-default">{$recommend['art_title']}</span>
        </a>
        {/foreach}
    </nav>
    {/if}
</footer>