<aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <ul class="nav nav-sidebar">
        <li {if $aside_active=='manage'} class="active" {/if}><a href="{$Think.config.api}admin/manage/index">报告</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li {if $aside_active=='article'} class="active" {/if}><a href="{$Think.config.api}admin/article/index">文章</a></li>
        <li {if $aside_active=='notice'} class="active" {/if}><a href="notice.html">公告</a></li>
        <li {if $aside_active=='comment'} class="active" {/if}><a href="comment.html">评论</a></li>
        <li {if $aside_active=='message'} class="active" {/if}><a data-toggle="tooltip" data-placement="top" title="网站暂无留言功能">留言</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li {if $aside_active=='category'} class="active" {/if}><a href="{$Think.config.api}admin/category/index">栏目</a></li>
        <li {if $aside_active=='other'} class="active" {/if}><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
            <ul class="dropdown-menu" aria-labelledby="otherMenu">
                <li><a href="flink.html">友情链接</a></li>
                <li><a href="loginlog.html">访问记录</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li {if $aside_active=='user'} class="active" {/if}><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户</a>
            <ul class="dropdown-menu" aria-labelledby="userMenu">
                <li><a href="#">管理用户组</a></li>
                <li><a href="manage-user.html">管理用户</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="loginlog.html">管理登录日志</a></li>
            </ul>
        </li>
        <li {if $aside_active=='set'} class="active" {/if}><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置</a>
            <ul class="dropdown-menu" aria-labelledby="settingMenu">
                <li><a href="setting.html">基本设置</a></li>
                <li><a href="readset.html">用户设置</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">安全配置</a></li>
                <li role="separator" class="divider"></li>
                <li class="disabled"><a>扩展菜单</a></li>
            </ul>
        </li>
    </ul>
</aside>